

/* Nawigacja */
.nav-link {
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
}

.nav-link:last-child {
    margin-right: 0;
}

.main-nav {
    margin-bottom: 10px;
}

/* Przycisk 'Powrót' */
.back-button {
    position: absolute;
    left: 20px;
    top: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.back-button:hover {
    background-color: #ff0000;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.back-button:active {
    background-color: #e10000;
    box-shadow: 0 5px #666;
    transform: translateY(5px);
}

/* Główna treść */
main {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Formularze */
.auth-container {
    display: flex;
    gap: 20px;
}

.auth-form {
    width: 100%;
}

.auth-form:target {
    display: block;
}

form {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

form h2 {
    margin-bottom: 20px;
    text-align: center;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #0056b3;
}

/* Linki do zmiany sekcji */
.auth-toggle-links {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.auth-link {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #007bff;
    border-radius: 5px;
}

.auth-link:hover {
    text-decoration: underline;
    background-color: #0056b3;
}

.auth-link:active {
    background-color: #004080;
    box-shadow: 0 3px #666;
    transform: translateY(3px);
}

